.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**src/main/**/build/
!**src/test/**/build/
settings.gradle
gradlewgradlew/

.idea
out/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings
.log
.png
.avi
